{% extends "public/templates/public_template.html" %}

{% block titile %}
Jinja   
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-text">UserName : {{name}}</h3>

                <h3 class="card-text">Langs (Loops) :
                     {% for lang in langs %}
                      <ul class="list-group">
                        <li class="list-group-item">{{lang}}</li>
                      </ul>
                     {% endfor %}
                    
                    </h3>

                <h3 class="card-text">Looping with index
                    {% for lang in langs %}
                    <ul class="list-group">
                      <li class="list-group-item">{{loop.index}}-{{lang}}</li>
                    </ul>
                   {% endfor %}
                </h3>

                 
                <p class="lead"> Looping a dict 
                    {% for k,v in friends.items() %}
                        Name:{{k}}-Age:{{v}}
                    {% endfor %}
                </p>

                <h3>accessing index</h3>

               
                <ul class="list-group">
                  <li class="list-group-item">{{langs[0]}}</li>
                </ul>
               
                <h3>Call a Function</h3>
                <p>{{repeat("Flask-",7)}}</p>


                

            </div>
        </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
            <h3>Call A Class</h3>
            <hr>
            <p>{{my_remote.clone()}}</p>
        </div>
      </div>
    </div>
</div>

{% endblock %}